- content_for :pageheader do
  = @user.name
  %small= "(#{@user.email})"

= simple_form_for [:biseadmin, @user] do |f|
  = f.input :id, as: :hidden

  .row
    = f.fields_for :library_roles do |lr|
      .col-md-3
        .well.well-sm
          = lr.input :site_id, as: :hidden
          = lr.input :allowed, as: :chk, label: lr.object.site.name, inline_label: 'Remember me'

  .btn-toolbar.pull-right
    = link_to biseadmin_users_path, class: 'btn btn-default' do
      = fa_icon 'chevron-left'
      Back to users list
    %button.btn.btn-success{ type: 'submit' }
      = fa_icon 'save'
      Save