<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @target.title %>
</p>

<p>
  <b>Short desc:</b>
  <%= @target.short_desc %>
</p>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
