
- content_for :actions do
  .btn-group
    %a.btn.btn-success.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
      %i.icon-search
      Everything
      %span.caret
    %ul.dropdown-menu
      %li
        %a{ href: '#' }
          Articles
      %li
        %a{ href: '#' }
          Species
      %li
        %a{ href: '#' }
          Documents
  = form_tag search_path, method: 'get', class: 'search-query pull-right' do       #
    = text_field_tag :query, params[:query], class: "search-query", placeholder: 'Search ...'


.well.well-sm
  .row
    .col-md-8.col-md-offset-2
      = form_for(@search, url: search_path, html: { class: 'form-inline'}) do |f|

        .input-group{ style: 'width: 100%' }
          = f.text_field :query, class: 'form-control'
          .input-group-btn
            %button.btn.btn-success{type: "submit"}
              = fa_icon 'search'
              Search

.row
  .col-md-9
    - @rows.results.each_with_hit do |row, hit|
      .cell
        - if row.class == Article
          = render "public_cells/article", article: row, hit: hit
        - elsif row.class == Document
          = render "public_cells/document", doc: row, hit: hit
        - elsif row.class == Link
          = render "public_cells/link", link: row, hit: hit
        - elsif row.class == Species
          = render "public_cells/species", species: row, hit: hit
        - elsif row.class == ProtectedArea
          = render "public_cells/protected_area", protected_area: row, hit: hit
        - elsif row.class == Habitat
          = render "public_cells/habitat", habitat: row, hit: hit

    %br
    /= page_entries_info @rows.results
    -# = will_paginate @rows.results
    = will_paginate @rows.results, renderer: BootstrapPagination::Rails
  .col-md-3.menu-wrapper
    - @rows.results.facets.each do |facet|
      - unless facet[1]['terms'].nil?
        .panel.panel-default
          .panel-heading
            %a{"data-toggle" => "collapse", :href => "#facet_#{facet[0]}"}
              = t("catalogue.facets.#{facet[0]}")
          %ul.list-group.collapse{ id: "facet_#{facet[0]}" }
            - facet[1]['terms'].each do |t|
              %li.list-group-item
                = link_to t['term'], params.merge({ facet[0] => t['term'] })




