= form_for @habitat do |f|
  - if @habitat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@habitat.errors.count, "error")} prohibited this habitat from being saved:"
      %ul
        - @habitat.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :uri
    = f.text_field :uri
  .field
    = f.label :code
    = f.number_field :code
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :natura2000_code
    = f.number_field :natura2000_code
  .field
    = f.label :habitat_code
    = f.text_field :habitat_code
  .field
    = f.label :level
    = f.number_field :level
  .field
    = f.label :originally_published_code
    = f.number_field :originally_published_code
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :comment
    = f.text_field :comment
  .field
    = f.label :national_name
    = f.text_field :national_name
  .actions
    = f.submit 'Save'
