- content_for :pageheader do
  Habitats

- content_for :actions do
  = form_tag habitats_path, method: 'get', class: 'form-search pull-right' do
    = text_field_tag :query, params[:query], class: "search-query", placeholder: 'Search habitat..'

.container-fluid
  .row-fluid
    .span3
      = render "facets/facet_countries"   , objs: @habitats
    .span9
      - @habitats.each_with_hit do |habitat, hit|
        = render "cells/habitat", habitat: habitat, hit: hit

      = page_entries_info @habitats
      %br
      = will_paginate @habitats, renderer: BootstrapPagination::Rails
  %br

