- content_for :pageheader do
  = @habitat.name

- content_for :actions do
  = link_to habitats_path, class: "btn" do
    %i.icon-reply
    Back
  = link_to  edit_habitat_path(@habitat), class: "btn" do
    %i.icon-pencil
    Edit

/ %p#notice= notice

.container-fluid
  .row-fluid
    .span7
      %legend Habitat Information
      %dl.dl-horizontal
        %dt Code:
        %dd= @habitat.code
      %dl.dl-horizontal
        %dt Name:
        %dd= @habitat.name
      %dl.dl-horizontal
        %dt Natura2000 code:
        %dd= @habitat.natura2000_code
      %dl.dl-horizontal
        %dt Habitat Code:
        %dd= @habitat.habitat_code
      %dl.dl-horizontal
        %dt Level:
        %dd= @habitat.level
      %dl.dl-horizontal
        %dt Original published code:
        %dd= @habitat.originally_published_code
      %dl.dl-horizontal
        %dt Comment:
        %dd= @habitat.comment
      %dl.dl-horizontal
        %dt National name:
        %dd= @habitat.national_name
      %dl.dl-horizontal
        %dt Description:
        %dd= @habitat.description
    .span5
      %legend Typical Species
      %ul
      - @habitat.species.each do |s|
        %li
          = link_to s.binomial_name, species_path(s)


