%p#notice= notice

%p
  %b Uri:
  = @habitat.uri
%p
  %b Code:
  = @habitat.code
%p
  %b Name:
  = @habitat.name
%p
  %b Natura2000 code:
  = @habitat.natura2000_code
%p
  %b Habitat code:
  = @habitat.habitat_code
%p
  %b Level:
  = @habitat.level
%p
  %b Originally published code:
  = @habitat.originally_published_code
%p
  %b Description:
  = @habitat.description
%p
  %b Comment:
  = @habitat.comment
%p
  %b National name:
  = @habitat.national_name

= link_to 'Edit', edit_habitat_path(@habitat)
\|
= link_to 'Back', habitats_path
