
= simple_form_for(@article) do |f|

  .tab-content
    .container-fluid
      = render :partial => 'common/common_info', :locals => { :f => f }
      %legend Article
      .row-fluid
        .span12
          = f.input :content, :as => :text, :input_html => { :class => "input-block-level tinymce" }
      = render :partial => 'common/countries', :locals => { :parent => @article }

  %div.form-actions.margin-none.text-right
    = f.submit 'Save', :class => "btn btn-success"
    = link_to "Cancel", articles_path, :class => "btn"


