<%= form_for(@article, :html => { :class => "form-vertical" }) do |f| %>

    <% if @article.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>


    <div class="row">
        <div class="span4">
            <div class="control-group">
                <%= f.label :title, :class => "control-label" %>
                <div class="controls">
                    <%= f.text_field :title, :class => "input-xlarge" %>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <%= f.label :author, :class => "control-label" %>
                <div class="controls">
                    <%= f.text_field :author, :class => "input-xlarge" %>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <%= f.label :source_url, :class => "control-label" %>
                <div class="controls">
                    <%= f.text_field :source_url, :class => "input-xlarge" %>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="span12">
            <div class="control-group">
                <%= f.label :published_on, :class => "control-label" %>
                <div class="controls">
                    <%= f.datetime_select :published_on %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="control-group">
                <%= f.label :content, :class => "control-label" %>
                <div class="controls">
                    <%= f.text_area :content, :rows => 10 %>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="span6">

        </div>
        <div class="span6">

        </div>
    </div>


    <div class="actions">
        <%= f.submit "Create Article" , :class => "btn btn-primary" %>
    </div>
<% end %>
