- content_for :pageheader do
  Web pages

- content_for :actions do
  - if current_user.approver?
    = link_to  new_article_path, class: 'btn btn-default' do
      = fa_icon 'plus'
      New Article
  = render 'common/approved_toggle'
  = form_tag articles_path, method: 'get', class: 'search-query pull-right' do
    - if params[:approved].present?
      = hidden_field_tag :approved, params[:approved] != '' ? params[:approved] : false
    - if params[:per_page].present?
      = hidden_field_tag :per_page, params[:per_page] != '' ? params[:per_page] : false
    = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search article..'

.container
  .row
    .col-sm-3
      = render 'facets/facet_sites'       , objs: @articles
      = render 'facets/facet_authors'     , objs: @articles
      = render 'facets/facet_languages'   , objs: @articles
      = render 'facets/facet_countries'   , objs: @articles
      = render 'facets/facet_timeline'    , objs: @articles
    .col-sm-9
      - if @articles.size > 0
        = form_tag approve_multiple_articles_path do
          %table.table.table-striped
            %tbody
              - @articles.each_with_hit do |article, hit|
                = render 'cells/article', article: article, hit: hit
          - if current_user.approver?
            = submit_tag (show_approved?) ? 'Disapprove selected' : 'Approve selected', class: 'btn btn-default btn-sm pull-right'

        = page_entries_info @articles, entry_name: 'article'
        = will_paginate @articles, renderer: BootstrapPagination::Rails
      - else
        = render 'common/empty_table'
  %br
