- content_for :pageheader do
  = @article.title

- content_for :actions do
  = link_to articles_path, :class => "btn" do
    %i.icon-reply
    Back
  - if current_user.approver?
    = link_to  edit_article_path(@article), :class => "btn" do
      %i.icon-pencil
      Edit
    = link_to  article_path(@article), :method => :delete, :class => "btn btn-danger" do
      %i.icon-trash
      Delete


.container-fluid

  = render 'common/showinfo', obj: @article

  %legend Article
  .row-fluid
    .span12
      = raw @article.content

  %legend Countries
  .row-fluid
    .span12
      - for c in @article.countries
        %span.label.label-success= c.name

  / %legend Biographical Region:
  / .row-fluid
  /   .span12
  /     = @document.biographical_region

  %legend Tags
  .row-fluid
    .span12
      - @article.tag_list.each do |t|
        .label.label-success= t

