- content_for :pageheader do
    = @article.title

- content_for :actions do
    = link_to articles_path, :class => "btn" do
        %i.icon-reply
        Back
    = link_to  edit_article_path(@article), :class => "btn" do
        %i.icon-pencil
        Edit
    = link_to  article_path(@article), :method => :delete, :class => "btn btn-danger" do
        %i.icon-trash
        Delete
    .btn-group.pull-right
        %a.btn.active{ :href => '#general', :data => { :toggle => 'tab' } } General
        %a.btn{ :href => '#geographic', :data => { :toggle => 'tab' } } Geographic
        %a.btn{ :href => '#related', :data => { :toggle => 'tab' } } Related Resources
        %a.btn{ :href => '#ecosystems', :data => { :toggle => 'tab' } } Thematic Area



.tab-content

    - if notice
        .container-fluid
            .row-fluid
                %div.alert.alert-success
                    %button.close{ :type => "button", 'data-dismiss' => 'alert' }
                        &times;
                    %h4 Success!
                    = notice

    #general.tab-pane.active

        .container-fluid
            .row-fluid
                .span12
                    %legend Info
            .row-fluid
                .span2.control-label.text-right
                    Title:
                .span4
                    = @article.title
                .span2.control-label.text-right
                    Site:
                .span4
                    = @article.site.name
            .row-fluid
                .span2.control-label.text-right
                    English title:
                .span4
                    = @article.english_title
                .span2.control-label.text-right
                    Published:
                .span4
                    = @article.published
            .row-fluid
                .span2.control-label.text-right
                    English Author:
                .span4
                    = @article.author
                .span2.control-label.text-right
                    Published on:
                .span4
                    = @article.published_on

            .row-fluid
                .span12
                    %legend Languages
            .row-fluid
                .span12.text-right
                    - for a in @article.languages
                        %span.label.label-success= a.name

            .row-fluid
                .span12
                    %legend Article
            .row-fluid
                .span12
                    = raw @article.content
            %br

    #geographic.tab-pane

        .container-fluid
            .row-fluid
                .span12
                    %legend Countries
            .row-fluid
                .span12.text-right
                    - for c in @article.countries
                        %span.label.label-success= c.name

    #related.tab-pane

        .container-fluid
            .alert.alert-error
                %button.close{ :type => 'button', :data => { :dismiss => 'alert' } } &times;
                %strong
                    Warning!
                This section is under contruction...

    #ecosystems.tab-pane

        .container-fluid
            .alert.alert-error
                %button.close{ :type => 'button', :data => { :dismiss => 'alert' } } &times;
                %strong
                    Warning!
                This section is under contruction...

