- content_for :pageheader do
    = @article.title

- content_for :actions do
    = link_to articles_path, :class => "btn" do
        %i.icon-reply
        Back
    = link_to  edit_article_path(@article), :class => "btn" do
        %i.icon-pencil
        Edit
    = link_to  article_path(@article), :method => :delete, :class => "btn btn-danger pull-right" do
        %i.icon-trash
        Delete


- if notice
    %div.alert.alert-success
        %button.close{ :type => "button", 'data-dismiss' => 'alert' }
            &times;
        %h4 Success!
        = notice

.container

    %table.table
        %tbody
            %tr
                %td.collabel
                    Site:
                %td.colcontent
                    = @article.site.name
                %td.collabel
                    %b Geographical Coverage:
                %td.colcontent
                    = @article.geographical_coverage
            %tr
                %td.collabel
                    %b Author:
                %td.colcontent
                    = @article.author
                %td.collabel
                    %b Biographical Region:
                %td.colcontent
                    = @article.biographical_region
            %tr
                %td.collabel
                    %b Published on:
                %td.colcontent
                    = @article.published_on
                %td.collabel
                    %b Language :
                %td.colcontent
                    = @article.language
            %tr
                %td{ :colspan => '4 ' }
                    %b Tags
                    %ul
                        - @article.concepts.each do |c|
                            %li= c.title

                / %td.collabel
                /     %b Source URL :
                / %td.colcontent
                /     = @article.source_url

            %tr
                %td.collabel
                    %b Content :
                %td{ :colspan => '3' }
                    = raw @article.content
