- content_for :pageheader do
    = @article.title

- content_for :actions do
    = link_to articles_path, :class => "btn" do
        %i.icon-reply
        Back
    = link_to  edit_article_path(@article), :class => "btn" do
        %i.icon-pencil
        Edit
    = link_to  article_path(@article), :method => :delete, :class => "btn btn-danger pull-right" do
        %i.icon-trash
        Delete


- if notice
    %div.alert.alert-success
        %button.close{ :type => "button", 'data-dismiss' => 'alert' }
            &times;
        %h4 Success!
        = notice

.container

    %table.table
        %tbody
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Site:
                %td
                    = @article.site.name
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Geographical Coverage:
                %td
                    = @article.geographical_coverage
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Author on:
                %td
                    = @article.author
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Biographical Region:
                %td
                    = @article.biographical_region
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Published on:
                %td
                    = @article.published_on
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Theme:
                %td
                    = @article.theme.title
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Source URL :
                %td
                    = @article.source_url
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Language :
                %td
                    = @article.language
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Content :
                %td{ :colspan => '3' }
                    = raw @article.content
