- content_for :pageheader do
  = @article.title

- content_for :actions do
  - if search_params_available?
    = link_to :back, class: "btn" do
      = fa_icon 'reply'
      Back
  - else
    = link_to articles_path, class: "btn" do
      = fa_icon 'reply'
      Back to List
  - if current_user.approver?
    = link_to  edit_article_path(@article), class: "btn" do
      = fa_icon 'pencil'
      Edit
    = link_to  article_path(@article), method: :delete, class: "btn btn-danger" do
      = fa_icon 'trash-o'
      Delete


.container-fluid

  = render 'common/showinfo', obj: @article

  %legend Article
  .row-fluid
    .span12
      = raw @article.content

  %legend Countries
  .row-fluid
    .span12
      - for c in @article.countries
        %span.label.label-success= c.name

  %legend Biographical Region:
  .row-fluid
    .span12
      = @article.biographical_region

  %legend Tags
  .row-fluid
    .span12
      - @article.tag.each do |t|
        .label.label-success= t.name

%br
