- content_for :pageheader do
  Themes

.container-fluid
  .row-fluid
    .span12
      %table
        %tr
          %th Title
          %th
          %th
          %th

        - @themes.each do |theme|
          %tr
            %td= theme.title
            %td= link_to 'Show', theme
            %td= link_to 'Edit', edit_theme_path(theme)
            %td= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' }


      = link_to 'New Theme', new_theme_path
