%legend Info

.panel.panel-default
  .panel-body
    .row
      .col-md-6
        %dl.dl-horizontal
          %dt Title:
          %dd= obj.title
        %dl.dl-horizontal
          %dt English Title:
          %dd= obj.english_title
        %dl.dl-horizontal.margin-none
          %dt Languages:
          %dd
            - for a in obj.languages
              %span.label.label-success= a.name
      .col-md-6
        %dl.dl-horizontal
          %dt Site:
          %dd= obj.site.name
        %dl.dl-horizontal
          %dt Published on:
          %dd= obj.published_on
        %dl.dl-horizontal.margin-none
          %dt Author:
          %dd= obj.author
