%br

.row
  .col-md-7
    %legend Info
    .text-muted
      Common information about this content type:
    %br
    %table.table
      %tbody
        %tr
          %td{ style: 'width: 25%; font-weight: bold' }
            Site
          %td{ colspan: '3' }
            = obj.site.name
        %tr
          %td{ style: 'width: 25%; font-weight: bold' }
            Title
          %td{ colspan: '3' }
            = obj.title
        %tr
          %td{ style: 'width: 25%; font-weight: bold' }
            English Title
          %td{ colspan: '3' }
            = obj.english_title
        %tr
          %td{ style: 'width: 25%; font-weight: bold' }
            Languages
          %td{ colspan: '3' }
            - for a in obj.languages
              %span.label.label-success= a.name
        %tr
          %td{ style: 'width: 25%; font-weight: bold' }
            Author
          %td
            %ul.list-unstyled
              - obj.splitted_authors.each do |author|
                %li= author
        %tr
          %td{ style: 'width: 25%; font-weight: bold' }
            Published on
          %td
            = obj.published_on

  .col-md-5
    %legend Content versioning
    %table.table.margin-none
      %thead
        %tr
          %th Event
          %th User
          %th Version date
      %tbody
        - obj.versions.order('created_at desc').each do |version|
          %tr
            %td
              .label.label-primary= version.event
            %td
              - if version.whodunnit.present?
                - user = User.find(version.whodunnit)
                = link_to user.name, "mailto:#{user.email}"
              - else
                = "3rd party systems"

            %td= version.created_at.strftime('%H:%M %p - %d/%m/%Y')
    %br
    - if obj.source_url.present?
      %legend Source URL
      %table
        %tbody
          %tr
            %td
              = link_to obj.source_url, obj.source_url
      %hr
      .text-muted
        ** Source url is used when harvesting content from other sites. Is a way to
        identify the origin of each content type.
