.accordion#countries
    .accordion-group
        .accordion-head
            %a.accordion-toggle.btn.btn-link.btn-small{ :href => '#country-list', :data => { :toggle => 'collapse', :parent => '#countries' } }
                Geographical Coverage
                %span.caret
        .accordion-body.in#country-list
            .accordion-inner
                %ul.unstyled
                    - if objs.respond_to?('facets')
                        - objs.facets['countries']['terms'].each do |facet|
                            - if !current_page?(params.merge(:countries => facet['term'], :page => 1))
                                %li
                                    = link_to params.merge(:countries => facet['term'], :page => 1) do
                                        = facet['term']
                                        %span.badge.badge-info.pull-right= facet['count']
                            - else
                                %li.selected
                                    = facet['term']
                                    %span.pull-right= link_to "Remove", params.except(:countries)
