.accordion#sites
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#site-list', data: { toggle: 'collapse', parent: '#sites' } }
        Origin Sites
        %span.caret
    .accordion-body.in#site-list
      .accordion-inner
        %ul.list-unstyled
          - if objs.respond_to?('facets')
            - objs.facets['sites']['terms'].each do |facet|
              - if !current_page?(params.merge(site: facet['term'], page: 1))
                %li
                  = link_to params.merge(site: facet['term'], page: 1) do
                    = facet['term']
                    %span.badge.badge-info.pull-right= facet['count']
              - else
                %li.selected
                  = facet['term']
                  %span.pull-right= link_to "Remove", params.except(:site)
