.accordion#timeline
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#timeline-list', data: { toggle: 'collapse', parent: '#timeline' } }
        Timeline
        %span.caret
    .accordion-body.in#timeline-list
      .accordion-inner
        - if objs.respond_to?('facets')
          .list-group
            - objs.facets['timeline']['entries'].each do |facet|
              - year = Time.at(facet['time']/1000).strftime("%Y")
              - if !current_page?(params.merge(published_on: year, page: 1))
                = link_to params.merge(published_on: year, page: 1), class: 'list-group-item' do
                  = year
                  %span.badge.pull-right= facet['count']
              - else
                = link_to params.except(:published_on), class: 'list-group-item active' do
                  = fa_icon 'times'
                  = "Remove #{facet['term']}"
