.accordion#countries
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#country-list', data: { toggle: 'collapse', parent: '#countries' } }
        Geographical Coverage
        %span.caret
    .accordion-body.in#country-list
      .accordion-inner
        - if objs.respond_to?('facets')
          .list-group
            - objs.facets['countries']['terms'].each do |facet|
              - if !current_page?(params.merge(countries: facet['term'], page: 1))
                = link_to params.merge(countries: facet['term'], page: 1), class: 'list-group-item' do
                  = facet['term']
                  %span.badge.pull-right= facet['count']
              - else
                = link_to params.except(:countries), class: 'list-group-item active' do
                  = fa_icon 'times'
                  = "Remove #{facet['term']}"
