.accordion#sites
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#site-list', data: { toggle: 'collapse', parent: '#sites' } }
        Origin Sites
        %span.caret
    .accordion-body.in#site-list
      .accordion-inner
        - if objs.respond_to?('facets')
          .list-group
            - objs.facets['sites']['terms'].each do |facet|
              - if !current_page?(params.merge(site: facet['term'], page: 1))
                = link_to params.merge(site: facet['term'], page: 1), class: 'list-group-item' do
                  = facet['term']
                  %span.badge.badge-info.pull-right= facet['count']
              - else
                = link_to params.except(:site), class: 'list-group-item active' do
                  = fa_icon 'times'
                  = "Remove #{facet['term']}"
