.accordion#authors
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ :href => '#author-list', :data => { :toggle => 'collapse', :parent => '#authors' } }
        Authors
        %span.caret
    .accordion-body.in#author-list
      .accordion-inner
        %ul.unstyled
          - if objs.respond_to?('facets')
            - objs.facets['authors']['terms'].each do |facet|
              - if !current_page?(params.merge(:author => facet['term'], :page => 1))
                %li
                  = link_to params.merge(:author => facet['term'], :page => 1) do
                    = facet['term']
                    %span.badge.badge-info.pull-right= facet['count']
              - else
                %li.selected
                  = facet['term']
                  %span.pull-right= link_to "Remove", params.except(:author)
