- content_for :pageheader do
  Statistics




.row-fluid

  .col-md-8
    %legend Tag Cloud:
    #tag-cloud{ data: { cloud: tag_cloud_data } }

  .col-md-4
    %legend Queries by Country:
    %table.table.table-striped
      %thead
        %tr
          %th
            Country
          %th
            Queries
      %tbody
        - queries_by_country.each do |q|
          %tr
            %td
              = q[:country] || 'N/A'
            %td
              = q[:queries]

%legend Queries
%table.table.table-striped
  %thead
    %tr
      %th
      %th Query
      %th Location
      %th IP
      %th Date
  %tbody
    - @catalogue_searches.each do |s|
      %tr
        %td= fa_icon 'list'
        %td= s.query
        %td= s.location
        %td= s.queried_from_ip
        %td= s.created_at


