= simple_form_for(@species, :html => { :class => "form-horizontal" }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :species_code
    = f.input :binomial_name
    = f.input :valid_name
    = f.input :eunis_primary_name
    = f.input :synonym_for
    = f.input :taxonomic_rank
    = f.input :taxonomy
    = f.input :scientific_name_authorship
    = f.input :scientific_name
    = f.input :label
    = f.input :genus
    = f.input :species_group
    = f.input :name_according_to_ID
    = f.input :ignore_on_match

  .form-actions
    = f.button :submit
