.accordion#kingdoms
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#kingdom-list', data: { toggle: 'collapse', parent: '#kingdoms' } }
        Kingdom
        %span.caret
    .accordion-body.in#kingdom-list
      .accordion-inner
        .list-group
          - @species.facets['kingdom']['terms'].each do |facet|
            - if !current_page?(params.merge(kingdom: facet['term'], page: 1))
              = link_to params.merge(kingdom: facet['term'], page: 1), class: 'list-group-item' do
                = facet['term']
                %span.badge.pull-right= facet['count']
            - else
              = link_to params.except(:kingdom), class: 'list-group-item active' do
                = fa_icon 'times'
                = "Remove #{facet['term']}"
