.accordion#taxonomic_rank
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#taxonomic_rank-list', data: { toggle: 'collapse', parent: '#taxonomic_rank' } }
        Taxonomic Rank
        %span.caret
    .accordion-body.in#taxonomic_rank-list
      .accordion-inner
        %ul.unstyled
          - @species.facets['taxonomic_rank']['terms'].each do |facet|
            - if !current_page?(params.merge(taxonomic_rank: facet['term'], page: 1))
              %li
                = link_to params.merge(taxonomic_rank: facet['term'], page: 1) do
                  = if facet['term'].size > 22 then facet['term'][0..22] + '...' else facet['term'] end
                  %span.badge.badge-info.pull-right= facet['count']
            - else
              %li.selected
                = facet['term']
                %span.pull-right= link_to "Remove", params.except(:taxonomic_rank)
