- content_for :pageheader do
  Species

- content_for :actions do
  = form_tag species_index_path, method: 'get', class: 'search-query pull-right' do       #
    = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search species...'    #

.row
  .col-sm-3
    //.menu-wrapper
    = render 'kingdoms'
    = render 'phylums'
    = render 'classis'
    = render 'species_group'
    = render 'taxonomic_rank'
  .col-sm-9
    %legend Results
    - if @species.size > 0
      %table.table.table-striped
        %tbody
          - @species.each_with_hit do |s, hit|
            = render "cells/species", species: s, hit: hit

      = will_paginate @species, renderer: BootstrapPagination::Rails
      %br
      = page_entries_info @species, entry_name: 'species'
    - else
      = render 'common/empty_table'

