- content_for :pageheader do
  = @species.binomial_name

- content_for :actions do
  - if search_params_available?
    = link_to :back, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back
  - else
    = link_to species_index_path, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back to List
  = link_to  @species.uri, class: 'btn btn-default', target: '_blank' do
    = fa_icon 'eye'
    Watch in EUNIS


.container

  .row-fluid
    .span6
      %legend Species Information

      %dl.dl-horizontal
        %dt Code:
        %dd= @species.species_code

      %dl.dl-horizontal
        %dt Binomial Name:
        %dd= @species.binomial_name

      %dl.dl-horizontal
        %dt Scientific Name:
        %dd= @species.scientific_name

      %dl.dl-horizontal
        %dt Genus:
        %dd= @species.genus

      %dl.dl-horizontal
        %dt Species Group:
        %dd= @species.species_group

      %dl.dl-horizontal
        %dt Taxonomies:
        %dd
          / - unless @species.taxonomy.nil?
          /   - taxonomy = @species.taxonomy
          /   - while taxonomy.level != 'Kingdom'
          /     .label.label-success= taxonomy.name
          /     taxonomy = taxonomy.parent

      %dl.dl-horizontal
        %dt Taxonomic Rank:
        %dd= @species.taxonomic_rank

      %dl.dl-horizontal
        %dt Authorship:
        %dd= @species.scientific_name_authorship


    .span6
      %legend Sites
      %ul
        - @species.protected_areas.each do |pa|
          %li
            = link_to pa.name, pa unless @species.taxonomy.nil?


  / %table.table
  /   %tbody
  /     %tr
  /       %td{ style: 'width: 20%;text-align: right;' }
  /         %b Species group:
  /       %td
  /         = link_to @species.species_group, @species.species_group
