- content_for :pageheader do
  = @species.binomial_name

- content_for :actions do
  - if search_params_available?
    = link_to :back, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back
  - else
    = link_to species_index_path, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back to List
  = link_to  @species.uri, class: 'btn btn-default', target: '_blank' do
    = fa_icon 'eye'
    Watch in EUNIS


.container-fluid
  .row
    .col-md-6
      %legend Species Information

      %table.table.table-striped
        %tbody
          %tr
            %td Code
            %td= @species.species_code
          %tr
            %td Binomial Name
            %td= @species.binomial_name
          %tr
            %td Scfientific Name
            %td= @species.scientific_name
          %tr
            %td Genus
            %td= @species.genus
          %tr
            %td Species Group
            %td= @species.species_group
          %tr
            %td Taxonomic Rank
            %td= @species.taxonomic_rank
          %tr
            %td Authorship
            %td= @species.scientific_name_authorship
          -# %tr
          -#   %td Taxonomies
          -#   %td
          -#     - unless @species.taxonomy.nil?
          -#       - taxonomy = @species.taxonomy
          -#       - while taxonomy.level != 'Kingdom'
          -#         .label.label-success= taxonomy.name
          -#         taxonomy = taxonomy.parent

    .col-md-6
      %legend Sites
      %ul
        - @species.protected_areas.each do |pa|
          %li
            = link_to pa.name, pa unless @species.taxonomy.nil?

