
= simple_form_for([:biseadmin, @site]) do |f|
  = f.error_notification

  .container-fluid
    .row-fluid
      .span8
        %legend{ style: 'margin-bottom: 0' }
          General information
        = f.input :name, input_html: { class: 'input-block-level' }
        = f.input :origin_url, input_html: { class: 'input-block-level' }
        = f.input :description, as: 'text', input_html: { class: 'input-block-level', rows: 5 }
      .span4
        %legend{ style: 'margin-bottom: 0' }
          API Access
        = f.input :auth_token, input_html: { class: 'input-block-level', disabled: true }
        .alert.alert-info
          %strong{ style: 'magin-bottom dotted #4f86d8'}
            = fa_icon 'info-circle'
            Information:
          %br
          Auth token will be generated automatically and should be implemented in
          any 3rd party Website to be able to send data to BISE Catalogue.

  .form-actions
    = f.button :submit, class: 'btn-success'
    = link_to 'Cancel', biseadmin_sites_path, class: 'btn btn-default'
