- content_for :pageheader do
  Manage sources (Contributors)

- content_for :actions do
  - if current_user.approver?
    = link_to  new_biseadmin_site_path, class: 'btn btn-default' do
      = fa_icon 'plus'
      New Source

.container-fluid
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Description
        %th Access Token
        %th{ style: 'width: 135px' }
    %tbody
      - @sites.each do |site|
        %tr
          %td= site.name
          %td= raw site.description
          %td= site.auth_token

          %td
            .btn-group
              = link_to edit_biseadmin_site_path(site), class: 'btn btn-default btn-xs' do
                = fa_icon 'pencil'
                Edit
              = link_to biseadmin_site_path(site), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } do
                = fa_icon 'trash-o'
                Delete
