.document_cell

    - if doc.content_type == 'application/pdf'
        %div.pull-left.mini-icon.pdf
    - elsif doc.content_type == 'application/rtf'
        %div.pull-left.mini-icon.rtf
    - elsif doc.content_type == 'application/msword'
        %div.pull-left.mini-icon.word
    - elsif doc.content_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
        %div.pull-left.mini-icon.word2010
    - elsif doc.content_type == 'text/csv'
        %div.pull-left.mini-icon.csv
    - elsif doc.content_type == 'application/vnd.ms-excel'
        %div.pull-left.mini-icon.excel
    - elsif doc.content_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        %div.pull-left.mini-icon
    - elsif doc.content_type == 'application/vnd.ms-powerpoint'
        %div.pull-left.mini-icon.powerpoint
    - elsif doc.content_type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'
        %div.pull-left.mini-icon.pdf
    - elsif doc.content_type == 'text/plain'
        %div.pull-left.mini-icon.pdf

    .title
        - if hit.has_key?'highlight' and hit['highlight'].has_key? 'title'
            = link_to raw(hit['highlight']['title'].first), doc
        - else
            = link_to doc.title, doc

    %small by #{doc.author} at #{doc.created_at}
    %br
    - if hit.has_key?'highlight' and hit['highlight'].has_key? 'attachment'
        - att_hits = hit['highlight']['attachment']

        .hits
            %ol{ :type => "I" }
                - att_hits.each do |h|
                    %li
                        %p.hit= raw '...' + h + '...'
        / = raw hit['highlight']['attachment'].first
