- content_for :pageheader do
    News

- content_for :actions do
    = link_to  new_news_path, :class => "btn" do
        %i.icon-plus
        New piece of news
    = form_tag news_index_path, :method => 'get', :class => 'search-query pull-right' do       #
        = text_field_tag :query, params[:query], :class => "search-query", :placeholder => 'Search news..'    #

- content_for :js do
    = javascript_include_tag 'news'


.container-fluid
    .row-fluid
        .span3.menu-wrapper
            %ul.menu

                - if @news.respond_to?('facets')
                    %li.item
                        %a.title{ 'href' => '#', :class => 'active' }
                            Authors
                            / %span= @articles.facets['authors']['terms'].count
                        %ul.subitems
                            - @news.facets['authors']['terms'].each do |facet|
                                - if !current_page?(params.merge(:author => facet['term'], :page => 1))
                                    %li.subitem
                                        = link_to params.merge(:author => facet['term'], :page => 1) do
                                            = facet['term']
                                            %span
                                                = facet['count']
                                - else
                                    %li.subitem.selected
                                        = facet['term']
                                        %span= link_to "Remove", params.except(:author)
                    %li.item
                        %a.title{ 'href' => '#', :class => 'active' }
                            Geographical Coverage
                        %ul.subitems
                            - @news.facets['countries']['terms'].each do |facet|
                                - if params[:countries].present? and params[:countries].include?(facet['term'])
                                    %li.subitem.selected
                                        = facet['term']
                                        %span= link_to "Remove", remove_country(params, facet['term'])
                                - else
                                    %li.subitem
                                        = link_to merge_countries(params, facet['term']) do
                                            = facet['term']
                                            %span
                                                = facet['count']
                    %li.item
                        %a.title{ 'href' => '#', :class => 'active' }
                            Biographical Region
                        %ul.subitems
                            - @news.facets['biographical_regions']['terms'].each do |facet|
                                - if !current_page?(params.merge(:biographical_region => facet['term'], :page => 1))
                                    %li.subitem
                                        = link_to params.merge(:biographical_region => facet['term'], :page => 1) do
                                            = facet['term']
                                            %span
                                                = facet['count']
                                - else
                                    %li.subitem.selected
                                        = facet['term']
                                        %span= link_to "Remove", params.except(:biographical_region)
                    %li.item
                        %a.title{ 'href' => '#', :class => 'active' }
                            Timeline

                        %ul.subitems
                            - if @news.respond_to?('facets')
                                - @news.facets['timeline']['entries'].each do |facet|
                                    - year = Time.at(facet['time']/1000).strftime("%Y")
                                    - if !current_page?(params.merge(:published_on => year, :page => 1))
                                        %li.subitem
                                            = link_to params.merge(:published_on => year, :page => 1) do
                                                = year
                                                %span= facet['count']

                                    - else
                                        %li.subitem.selected
                                            = year.to_s
                                            %span= link_to "Remove", params.except(:published_on)
        .span9
            - @news.each_with_hit do |anew, hit|
                = render "cells/news", :news => anew, :hit => hit
            = page_entries_info @news
            = will_paginate @news, :renderer => BootstrapPagination::Rails
