- content_for :pageheader do
  = @target.title
  %small= raw @target.short_desc

- content_for :actions do
  = link_to  biseadmin_targets_path, class: 'btn btn-default' do
    = fa_icon 'reply'
    Back
  = link_to  edit_biseadmin_target_path(@target), class: 'btn btn-default' do
    = fa_icon 'pencil'
    Edit

.row{ style: 'min-height: 360px'}
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th{ style: 'width: 20px'}
          %th
            Child action
          %th{ style: 'width: 120px' }
            Actions
      %tbody
        - @target.actions.each do |action|
          %tr
            %td
              = fa_icon 'list'
            %td
              = best_in_place [:biseadmin, action], :title
            %td{ style: 'padding: 5px' }
              = link_to biseadmin_action_path(action), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } do
                = fa_icon 'trash-o'
                Destroy

.well.well-flat
  = simple_form_for([:biseadmin, Action.new], html: { class: 'form-inline' }) do |f|
    / = f.error_notification
    /= f.input :target_id, as: :hidden, input_html: { class: }
    = f.input :title, label: false, placeholder: 'Add a new action...', input_html: {style: 'width: 300px'}
    %button.btn.btn-default{ type: 'submit' }
      = fa_icon 'plus'
      Add


