.cell.link_cell
  .media
    %a.pull-left{:href => "#"}
      %img{ style: 'width: 45px; height: 45px' }
      /= image_tag 'content-types/ico-web-pages.png', class: 'media-object'
    .media-body
      %h5.media-heading
        = link_to link.title, link

      %small.source.text-success= link.url

    %small.text-muted
      %ul.list-unstyled.list-inline
        - unless link.author.blank?
          %li
            = fa_icon 'navicon'
            %span.text-muted Author:
            = link.author
        %li
          = fa_icon 'calendar'
          %span.text-muted Created:
          = link.created_at.strftime('%m/%d/%Y')


