%tr
  %td.link_cell
    .cell-title
      = link_to link.title, link

    %small
      = "by #{link.author} " unless link.try(:author).blank?
      = "at #{link.published_on}" unless link.try(:published_on).blank?

    - if link.approved?
      %span.label.label-success.pull-right
        Approved
    - else
      %span.label.label-danger.pull-right
        Unapproved

    %br
    - if hit.has_key?'highlight' and hit['highlight'].has_key? 'content'
      - att_hits = hit['highlight']['content']

      .hits
        %ol{ type: "I" }
          - att_hits.each do |h|
            %li
              %p.hit= raw '...' + h + '...'