.accordion#designation_years
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#designations-list', data: { toggle: 'collapse', parent: '#authors' } }
        Designation Year
        %span.caret
    .accordion-body.in#designations-list
      .accordion-inner
        %ul.list-unstyled
          - if @protected_areas.respond_to?('facets')
            - @protected_areas.facets['designation_year']['terms'].each do |facet|
              - if !current_page?(params.merge(designation_year: facet['term'], page: 1))
                %li
                  = link_to params.merge(designation_year: facet['term'], page: 1) do
                    = facet['term']
                    %span.badge.badge-info.pull-right= facet['count']
              - else
                %li.selected
                  = facet['term']
                  %span.pull-right= link_to "Remove", params.except(:designation_year)
