.accordion#designation_years
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#designations-list', data: { toggle: 'collapse', parent: '#authors' } }
        Designation Year
        %span.caret
    .accordion-body.in#designations-list
      .accordion-inner
        - if @protected_areas.respond_to?('facets')
          .list-group
            - @protected_areas.facets['designation_year']['terms'].each do |facet|
              - if !current_page?(params.merge(designation_year: facet['term'], page: 1))
                = link_to params.merge(designation_year: facet['term'], page: 1), class: 'list-group-item' do
                  = facet['term']
                  %span.badge.pull-right= facet['count']
              - else
                = link_to params.except(:designation_year), class: 'list-group-item active' do
                  = fa_icon 'times'
                  = "Remove #{facet['term']}"
