.accordion#source_dbs
  .accordion-group
    .accordion-head
      %a.accordion-toggle.btn.btn-link.btn-small{ href: '#source-dbs-list', data: { toggle: 'collapse', parent: '#authors' } }
        Sources
        %span.caret
    .accordion-body.in#source-dbs-list
      .accordion-inner
        - if @protected_areas.respond_to?('facets')
          .list-group
            - @protected_areas.facets['source_db']['terms'].each do |facet|
              - if !current_page?(params.merge(source_db: facet['term'], page: 1))
                = link_to params.merge(source_db: facet['term'], page: 1), class: 'list-group-item' do
                  = facet['term']
                  %span.badge.pull-right= facet['count']
              - else
                = link_to params.except(:source_db), class: 'list-group-item active' do
                  = fa_icon 'times'
                  = "Remove #{facet['term']}"
