- content_for :pageheader do
  Protected sites

- content_for :actions do
  = form_tag protected_areas_path, method: 'get', class: 'search-query pull-right' do
    = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search site...'

.row
  .col-sm-3
    = render 'source_dbs'
    = render 'countries'
    = render 'designation_years'
  .col-sm-9
    %legend Results
    - if @protected_areas.size > 0
      - @protected_areas.each_with_hit do |site, hit|
        = render "cells/protected_area", site: site, hit: hit

      = will_paginate @protected_areas, renderer: BootstrapPagination::Rails
      %br
      = page_entries_info @protected_areas, entry_name: 'protected_area'
    - else
      = render 'common/empty_table'

