- content_for :pageheader do
  = @protected_area.name

- content_for :actions do
  = link_to  protected_areas_path, :class => "btn" do
    %i.icon-reply
    Back
  = link_to  @protected_area.uri, :class => "btn", :target => "_blank" do
    %i.icon-eye-open
    Watch in EUNIS


.container-fluid

  .row-fluid
    %p#notice= notice

  - if map_exists?(@protected_area.code)
    .row-fluid
      .span12
        %iframe{ src: "http://discomap.eea.europa.eu/map/Filtermap/?webmap=0b2680c2bc544431a9a97119aa63d707&SiteCode=#{@protected_area.code}&autoquery=false&zoomto=true", scrolling: "no", style: "height: 380px; width: 100%;" }

  .row-fluid
    .span7
      %legend
        Site Information:
      %dl.dl-horizontal
        %dt Source:
        %dd= @protected_area.source_db
      %dl.dl-horizontal
        %dt Country:
        %dd
          .label.label-info.label-large= @protected_area.countries.first.try(:name) unless @protected_area.countries.empty?
      %dl.dl-horizontal
        %dt Code:
        %dd= @protected_area.code
      %dl.dl-horizontal
        %dt Biogeoregions:
        %dd
          - @protected_area.biogeo_regions.each do |b|
            .label.label-info= b.area_name
      %dl.dl-horizontal
        %dt Designation Date:
        %dd= @protected_area.designation_year

      %dl.dl-horizontal
        %dt Area:
        %dd
          = "#{@protected_area.area} Ha"
      %dl.dl-horizontal
        %dt Length:
        %dd= @protected_area.length
      %dl.dl-horizontal
        %dt Latitude:
        %dd
          = "#{@protected_area.lat} (decimal deg.)"
      %dl.dl-horizontal
        %dt Longitude:
        %dd
          = "#{@protected_area.long} (decimal deg.)"

      %legend Habitats
      .accordion-inner
        %ul
          - @protected_area.habitats.each do |h|
            %li
              = link_to h.name, habitat_path(h)

    .span5
      %legend Fauna and Flora
      - groups = @protected_area.species.select('species.*, species.species_group').group_by(&:species_group)
      - groups.keys.each do |key|

        .accordion{ id: "#{key.downcase.parameterize}" }
          .accordion-group
            .accordion-head
              %a.accordion-toggle.btn.btn-link.btn-small{ href: "##{key.downcase.parameterize}-list", data: { toggle: 'collapse', parent: "##{key.downcase.parameterize}" } }
                = "#{key} (#{groups[key].size})"
                %span.caret
            .accordion-body.collapse{ id: "#{key.downcase.parameterize}-list" }
              .accordion-inner
                %ul.unstyled
                  - groups[key].each do |s|
                    %li= link_to s.binomial_name, species_path(s)

  .row-fluid
    .span5

    .span7



