= simple_form_for @document, :html => { :multipart => true }, :remote => true do |f|

    #dropzone.fade

        = f.association :site
        = f.input :title, :placeholder => 'Example Document', :input_html => { :class => "input-xlarge" }
        .control-group.file.required
            %label.file.required.control-label{ :for => 'document_file' }
                %abbr{ :title => 'required' } *
                File
            .controls
                .buttons
                    %a.btn.btn-small.btn-primary#choose_file
                        %i.icon-search
                        Select file
                    %input#document_file.file.required.hide{ :name => 'document[file]', :type => 'file' }

                    %p.help-block Select or drag a file over the form
                .file-info


        = f.input :author, :placeholder => 'Author', :input_html => { :class => "input-xlarge" }


        = f.input :geographical_coverage, :as => :select, :collection => countries, include_blank: true #, :input_html => { :class => "input-xlarge"}
        = f.input :biographical_region, :as => :select, :collection => biographical_regions, include_blank: true #, :input_html => { :class => "input-xlarge"}
        = f.input :language, :as => :select, :collection => languages, include_blank: true

        = f.input :source_url, :placeholder => 'http://biodiversity.europa.eu', :input_html => { :class => "input-xlarge" }
        = f.input :published
        = f.input :published_on, :as => :string, :input_html => { :class => 'input-small' }
        = f.input :description, :as => :text, :input_html => { :class => 'span8 tinymce', :cols => 20, :rows => 7 }

        %div.form-actions
            = f.submit 'Save', :class => "btn btn-success"
            = link_to "Cancel", documents_path, :class => "btn"

