= simple_form_for @document, :html => { :multipart => true }, :remote => true do |f|

    .tab-content

        #general.tab-pane.active
            .container-fluid

                = render :partial => 'common/common_info', :locals => { :f => f }

                = render :partial => 'common/languages', :locals => { :parent => @document }

                = render :partial => 'common/publication', :locals => { :f => f }

                %legend Document / File

                .row-fluid
                    .span6
                        .input-append
                            = f.input :file , :input_html => { :class => "hide" }
                            .file-info
                            %input#file_title.string.required.input-xlarge{ :type => 'text', :disabled => :disabled }
                            %button#file_select.btn{ :type => 'button' }
                                Select
                    .span6
                        = f.input :description, :as => :text, :input_html => { :class => 'input-block-level ', :rows => 5 }

                = render :partial => 'common/targets', :locals => { :parent => @document, f: f }

        #geographic.tab-pane
            .container-fluid
                = render :partial => 'common/countries', :locals => { :parent => @document }

        #related.tab-pane
            .container-fluid
                .row-fluid
                    .alert.alert-error
                        %button.close{ :type => 'button', :data => { :dismiss => 'alert' } } &times;
                        %strong
                            Warning!
                        This is a prototype, not working yet

                .row-fluid
                    .span12
                        %legend
                            %a.btn.btn-small.pull-right +
                            Articles
                        %legend
                            %a.btn.btn-small.pull-right +
                            Documents
                        %legend
                            %a.btn.btn-small.pull-right +
                            Events
                        %legend
                            %a.btn.btn-small.pull-right +
                            Links
                        %legend
                            %a.btn.btn-small.pull-right +
                            Multimedia
                        %legend
                            %a.btn.btn-small.pull-right +
                            News

        #ecosystems.tab-pane
            .container-fluid
                .alert.alert-error
                    %button.close{ :type => 'button', :data => { :dismiss => 'alert' } } &times;
                    %strong
                        Warning!
                    This is a prototype, not working yet
                = f.input :biographical_region, :as => :select, :collection => biographical_regions, include_blank: true , :input_html => { :class => "input-block-level"}

    %div.form-actions
        = f.submit 'Save', :class => "btn btn-success"
        = link_to "Cancel", documents_path, :class => "btn"




