- content_for :css do
  = stylesheet_link_tag 'documents', media: 'all'

- content_for :pageheader do
  Editing document

- content_for :actions do
  = link_to documents_path, class: 'btn btn-default' do
    = fa_icon 'reply'
    Back
  = link_to @document, class: 'btn btn-default' do
    = fa_icon 'search'
    Show

= render partial: 'documents/modals'

= render 'form'


