- content_for :pageheader do
    Documents

- content_for :actions do
    = link_to new_document_path, :class => "btn" do
        %i.icon-plus
        New Document
    = form_tag documents_path, :method => 'get', :class => 'form-search pull-right' do
        = text_field_tag :query, params[:query], :class => "search-query", :placeholder => 'Search document..'


.row

    .span3.menu-wrapper
        %ul.menu
            - if @documents.respond_to?('facets')
                %li.item
                    %a.title{ 'href' => '#', :class => 'active' }
                        Authors
                    %ul.subitems
                        - @documents.facets['authors']['terms'].each do |facet|
                            - if !current_page?(params.merge(:author => facet['term'], :page => 1))
                                %li.subitem
                                    = link_to params.merge(:author => facet['term'], :page => 1) do
                                        = facet['term']
                                        %span
                                            = facet['count']
                            - else
                                %li.subitem.selected
                                    = facet['term']
                                    %span= link_to "Remove", params.except(:author)


                %li.item
                    %a.title{ 'href' => '#', :class => 'active' }
                        Geographical Coverage
                    %ul.subitems
                        - @documents.facets['geographical_coverages']['terms'].each do |facet|
                            - if !current_page?(params.merge(:geographical_coverage => facet['term'], :page => 1))
                                %li.subitem
                                    = link_to params.merge(:geographical_coverage => facet['term'], :page => 1) do
                                        = facet['term']
                                        %span
                                            = facet['count']
                            - else
                                %li.subitem.selected
                                    = facet['term']
                                    %span= link_to "Remove", params.except(:geographical_coverage)


                %li.item
                    %a.title{ 'href' => '#', :class => 'active' }
                        Biographical Region
                    %ul.subitems
                        - @documents.facets['biographical_regions']['terms'].each do |facet|
                            - if !current_page?(params.merge(:biographical_region => facet['term'], :page => 1))
                                %li.subitem
                                    = link_to params.merge(:biographical_region => facet['term'], :page => 1) do
                                        = facet['term']
                                        %span
                                            = facet['count']
                            - else
                                %li.subitem.selected
                                    = facet['term']
                                    %span= link_to "Remove", params.except(:biographical_region)


                %li.item
                    %a.title{ 'href' => '#', :class => 'active' }
                        Timeline

                    %ul.subitems
                        - @documents.facets['timeline']['entries'].each do |facet|
                            - year = Time.at(facet['time']/1000).strftime("%Y")
                            - if !current_page?(params.merge(:published_on => year, :page => 1))
                                %li.subitem
                                    = link_to params.merge(:published_on => year, :page => 1) do
                                        = year
                                        %span= facet['count']

                            - else
                                %li.subitem.selected
                                    = year.to_s
                                    %span= link_to "Remove", params.except(:published_on)

    .span9
        - @documents.each_with_hit do |doc, hit|
            .document_cell
                = link_to doc,  :class => "btn btn-success btn-mini pull-right" do
                    / %i.icon-eye-open
                    Read more
                .title
                    - if hit.has_key?'highlight' and hit['highlight'].has_key? 'title'
                        = raw hit['highlight']['title'].first
                    - else
                        = doc.title

                %small by #{doc.author} at #{doc.created_at}
                %br
                - if hit.has_key?'highlight' and hit['highlight'].has_key? 'attachment'
                    - att_hits = hit['highlight']['attachment']

                    .hits
                        %ol{ :type => "I" }
                            - att_hits.each do |h|
                                %li
                                    %p.hit= raw '...' + h + '...'
                    / = raw hit['highlight']['attachment'].first


        / %table.table.table-striped
        /     %thead
        /         %tr
        /             %th Name
        /             / %th Description
        /             %th{ :style => 'width: 80px'} Author
        /             %th{ :style => 'width: 80px'} Created At
        /             / %th Downloads
        /             %th{ :style => 'width: 40px'}
        /             / Actions

        /     %tbody
        /         - @documents.each do |document|
        /             %tr
        /                 / %td= document.name
        /                 %td= raw document.respond_to?('highlight') ? document.highlight.name[0] : document.name
        /                 / %td= document.description
        /                 %td= document.author
        /                 / %td= document.created_at.strftime('%Y/%m/%d')
        /                 %td= document.created_at
        /                 / %td= document.downloads
        /                 %td.actions
        /                     = link_to document,  :class => "btn btn-small" do
        /                         %i.icon-eye-open
        /                     / = link_to edit_document_path(document),  :class => "btn btn-small" do
        /                     /     %i.icon-pencil
        /                     / = link_to document, :method => :delete, :class => "btn" do
        /                     /     %i.icon-pencil

        = page_entries_info @documents
        = will_paginate @documents

%br
