- content_for :pageheader do
  Documents

- content_for :actions do
  = render 'common/approved_toggle'
  - if current_user.approver?
    .btn-group
      = link_to new_document_path, class: 'btn btn-default' do
        = fa_icon 'plus'
        New Document
  = link_to params.merge(format: 'xls'), class: 'btn btn-default' do
    = fa_icon 'download'
    Export XLS
  .btn-group
    %button.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown'}
      Sort by
      %span.caret
    %ul.dropdown-menu.text-left
      %li= link_to 'Title', params.merge(sort: 'title.exact', page: 1)
      %li= link_to 'Published On', params.merge(sort: 'published_on', page: 1)
  = render 'common/per_page'
  = form_tag documents_path, method: 'get', class: 'form-search pull-right' do
    - if params[:approved].present?
      = hidden_field_tag :approved, params[:approved] != "" ? params[:approved] : false
    - if params[:per_page].present?
      = hidden_field_tag :per_page, params[:per_page] != "" ? params[:per_page] : false
    = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search document..', autocomplete:'off'

.container-fluid
  .row
    .col-sm-3
      = render "facets/facet_sites"     , objs: @documents
      = render "facets/facet_authors"   , objs: @documents
      = render "facets/facet_languages" , objs: @documents
      = render "facets/facet_countries" , objs: @documents
      = render "facets/facet_timeline"  , objs: @documents
    .col-sm-9
      - if @documents.size > 0
        = form_tag approve_multiple_documents_path do
          %table.table.table-striped
            %tbody
              - @documents.each_with_hit do |doc, hit|
                = render "cells/document", doc: doc, hit: hit
          - if current_user.approver?
            = submit_tag (show_approved?) ? 'Disapprove selected' : 'Approve selected', class: 'btn btn-default btn-sm pull-right'
        = will_paginate @documents, renderer: BootstrapPagination::Rails
        %br
        = page_entries_info @documents, entry_name: 'document'
      - else
        = render 'common/empty_table'

  %br

