- content_for :css do
    = stylesheet_link_tag "documents", :media => "all"

- content_for :pageheader do
    New document

- content_for :actions do
    = link_to  documents_path, :class => "btn" do
        %i.icon-reply
        Back

#prog-modal.modal.hide
    /.fade
    .modal-header
        %button.close{ :type => 'button', 'aria-hidden' => 'true' , :data => { :dismiss => 'modal' } } x
        %b Uploading...
    .modal-body
        Document is being uploaded, please wait.
        .upload
            .progress.progress-striped{ :style => 'margin-bottom: 0' }
                / {%=o.name%}
                .bar{ :style => 'width: 0%' }
    / .modal-footer
    /     %a.btn.btn-primary{ :href => '#' } Cancel

#err-modal.modal.hide
    .modal-header
        / %button.close{ :type => 'button', 'aria-hidden' => 'true' , :data => { :dismiss => 'modal' } } x
        %b ERROR!
    .modal-body
        Couldn't submit the document.
        .errors
    .modal-footer
        %a.btn.btn-primary{ :href => '#' } OK

= render 'form'


/ %script{ :id => 'template-upload', :type => 'text/x-tmpl' }
/     .upload
/         .progress.progress-striped{ :style => 'margin-bottom: 0' }
/             / {%=o.name%}
/             .bar{ :style => 'width: 0%' }

/ %script{ :id => 'template-table', :type => 'text/x-tmpl' }
/     %table
/         %tr
/             %td{ :id => 'size', :style => 'width:60px' }
/             %td{ :id => 'name', :style => 'text-align:left;white-space:nowrap' }
/             %td{ :style => 'width:30px' }
/                 %a.btn.btn-danger{ :id => 'delete_file', :href => '#' }
/                     %i.icon-trash

- content_for :js do
    = javascript_include_tag 'documents'
    = tinymce

