- content_for :css do
    = stylesheet_link_tag "documents", :media => "all"

- content_for :pageheader do
    New document

- content_for :actions do
    = link_to  documents_path, :class => "btn" do
        %i.icon-reply
        Back
    .btn-group.pull-right
        %a.btn.active{ :href => '#general', :data => { :toggle => 'tab' } } General
        %a.btn{ :href => '#geographic', :data => { :toggle => 'tab' } } Geographic
        %a.btn{ :href => '#related', :data => { :toggle => 'tab' } } Related Resources
        /%a.btn{ :href => '#ecosystems', :data => { :toggle => 'tab' } } Thematic Area

    / .pull-right
    /     %div{ :style => 'display:inline-block;padding-right: 150px' } Approved:
    /     .btn-group
    /         %a.btn NO
    /         %a.btn.btn-success.active YES

= render :partial => 'documents/modals'

= render 'form'


- content_for :js do
    = javascript_include_tag 'documents'
    = tinymce

