- content_for :pageheader do
  = @document.title

- content_for :actions do
  - if !request.env["HTTP_REFERER"].nil? and request.env["HTTP_REFERER"].include?('documents/new')
    = link_to documents_path, class: "btn" do
      = fa_icon 'reply'
      Back to List
  - else
    = link_to :back, class: "btn" do
      = fa_icon 'reply'
      Back
  = link_to @document.file_url, class: "btn" do
    = fa_icon 'download'
    Download
    %small
      (
      = (@document.file_size/1024).round(2)
      KB)
  - if current_user.approver?
    = link_to  edit_document_path(@document), class: "btn" do
      = fa_icon 'pencil'
      Edit
    = link_to  document_path(@document), method: :delete, class: "btn btn-danger pull-right", confirm: 'Please confirm you want to delete the resource.' do
      = fa_icon 'trash-o'
      Delete


.container-fluid

  = render 'common/showinfo', obj: @document

  %legend Description
  .row-fluid
    .span12
      = raw @document.description

  %legend Countries
  .row-fluid
    .span12
      %dl.dl-horizontal
        - @document.countries.each do |l|
          .label= l.name

  %legend Biographical Region:
  .row-fluid
    .span12
      = @document.biographical_region

  %legend Tags
  .row-fluid
    .span12
      - @document.tag_list.each do |t|
        .label.label-success= t


