- content_for :pageheader do
    = @document.title

- content_for :actions do
    = link_to  documents_path, :class => "btn" do
        %i.icon-reply
        Back
    = link_to  edit_document_path(@document), :class => "btn" do
        %i.icon-pencil
        Edit
    = link_to @document.file_url, :class => "btn" do
        %i.icon-download-alt
        Download
        %small
            (
            = (@document.file_size/1024).round(2)
            KB)
    = link_to  document_path(@document), :method => :delete, :class => "btn btn-danger pull-right" do
        %i.icon-trash
        Delete


- if notice
    %div.alert.alert-success
        %button.close{ :type => "button", 'data-dismiss' => 'alert' }
            &times;
        %h4 Success!
        = notice

.container

    %table.table
        %tbody
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Site:
                %td
                    = @document.site.name unless @document.site.nil?
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Geographical Coverage:
                %td
                    = @document.geographical_coverage
                / %td{ :style => 'width: 20%;text-align: right;' }
                /     %b File :
                / %td
                /     = link_to @document.file_url, :class => "btn btn-mini" do
                /         %i.icon-download-alt
                /         Download
                /         %small
                /             (
                /             = (@document.file_size/1024).round(2)
                /             KB)
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Author :
                %td
                    = @document.author
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Biographical Region:
                %td
                    = @document.biographical_region
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Published on:
                %td
                    = @document.published_on
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Theme:
                %td
                    = @document.theme.title unless @document.theme.nil?
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Downloads :
                %td
                    = @document.downloads
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Language :
                %td
                    = @document.language
            %tr
                %td{ :style => 'width: 20%;text-align: right;' }
                    %b Description :
                %td{ :colspan => 3 }
                    = raw @document.description

