- content_for :pageheader do
    = @document.name

- content_for :actions do
    = link_to  documents_path, :class => "btn squared-button" do
        = image_tag '/assets/arrow_left.png'
        Back
    = link_to edit_document_path(@document), :class => "btn squared-button" do
        = image_tag '/assets/pencil32.png'
        Edit

- if notice
    %div.alert.alert-success
        %button.close{ :type => "button", 'data-dismiss' => 'alert' }
            &times;
        %h4 Success!
        = notice

.container
    %div.row
        %div.span2
            %b Description:
        %div.span10
            = raw @document.description
    %hr

    %div.row
        %div.span2
            %b File:
        %div.span10
            / = @document.file_url
            / = link_to @document.file_url, :class => "btn" do
            /     %i.icon-search
            /     Preview
            = link_to @document.file_url, :class => "btn" do
                %i.icon-download-alt
                Download
                %small
                    (
                    = (@document.file_size/1024).round(2)
                    KB)

    %hr

    %div.row
        %div.span2
            %b Author:
        %div.span10
            = @document.author

    %hr

    %div.row
        %div.span2
            %b Downloads:
        %div.span10
            = @document.downloads

    %hr


    / = link_to 'Edit', edit_document_path(@document), :class => "btn"
    / = link_to 'Back', documents_path, :class => "btn"
