- content_for :pageheader do
  = @document.title

- content_for :actions do
  - if search_params_available?
    = link_to :back, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back
  - else
    = link_to documents_path, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back to List
  = link_to @document.file_url, target: "_blank", class: 'btn btn-success' do
    = fa_icon 'download'
    Download
    %small
      (
      = (@document.file_size/1024).round(2)
      KB)
  - if can? :edit, @document
    = link_to  edit_document_path(@document), class: 'btn btn-default', disabled: !@document.editable? do
      = fa_icon 'pencil'
      Edit
    = link_to  document_path(@document), method: :delete, class: 'btn btn-danger pull-right', confirm: 'Please confirm you want to delete the resource.' do
      = fa_icon 'trash-o'
      Delete


.container-fluid

  = render 'templates/common_info', obj: @document

  %legend Description
  .row
    .col-lg-12
      - if @document.description.present?
        = raw @document.description
      - else
        No description added to this document.
  %br

  = render 'templates/countries', object: @document
  = render 'templates/biographical_region', object: @document
  = render 'templates/targets_and_actions', object: @document
  = render 'templates/tags', object: @document


