= simple_form_for(@link) do |f|

  .container-fluid

    = render :partial => 'common/common_info', :locals => { :f => f }

    %legend Link

    .row-fluid
      .span6
        = f.input :url, :placeholder => 'http://www.google.com' , :input_html => { :class => "input-block-level" }
      .span6
        = f.input :description, :as => :text, :input_html => { :class => 'input-block-level ', :rows => 5 }

    = render :partial => 'common/countries', :locals => { :parent => @link }


    / .row-fluid
    /     .span12
    /         %legend Biodiversity

    / .row-fluid
    /     .span6
    /         /= render :partial => 'common/targets', :locals => { :parent => @document }
    /     .span6
    /         = f.input :biographical_region, :as => :select, :collection => biographical_regions, include_blank: true , :input_html => { :class => "input-block-level"}


  %div.form-actions
    = f.submit 'Save', :class => "btn btn-success"
    = link_to "Cancel", links_path, :class => "btn"


