- content_for :pageheader do
  Editing link

- content_for :actions do
  = link_to links_path, class: "btn" do
    = fa_icon 'reply'
    Back
  = link_to @link, class: "btn" do
    = fa_icon 'search'
    Show

= render 'form'

