- content_for :pageheader do
  Links

- content_for :actions do
  - if current_user.approver?
    = link_to  new_link_path, class: "btn" do
      = fa_icon 'plus'
      New Link
  = render 'common/approved_toggle'
  = form_tag links_path, method: 'get', class: 'search-query pull-right' do       #
    - if params[:approved].present?
      = hidden_field_tag :approved, params[:approved] != "" ? params[:approved] : false
    - if params[:per_page].present?
      = hidden_field_tag :per_page, params[:per_page] != "" ? params[:per_page] : false
    = text_field_tag :query, params[:query], class: "search-query", placeholder: 'Search link..'    #

.container-fluid
  .row-fluid

    .span3
      = render "facets/facet_sites"       , objs: @links
      = render "facets/facet_authors"     , objs: @links
      = render "facets/facet_languages"   , objs: @links
      = render "facets/facet_countries"   , objs: @links
      = render "facets/facet_timeline"    , objs: @links

    .span9
      - if @links.size > 0
        = form_tag approve_multiple_links_path do
          %table.table.table-striped
            %tbody
              - @links.each_with_hit do |link, hit|
                = render "cells/link", link: link, hit: hit
          - if current_user.approver?
            = submit_tag (show_approved?) ? "Disapprove selected" : "Approve selected", class: "btn btn-small pull-right"
        = page_entries_info @links, entry_name: 'link'
        = will_paginate @links, renderer: BootstrapPagination::Rails
      - else
        = render 'common/empty_table'
  %br
