- content_for :pageheader do
  Links

- content_for :actions do
  = render 'common/approved_toggle'
  - if current_user.approver?
    .btn-group
      = link_to  new_link_path, class: 'btn btn-default' do
        = fa_icon 'plus'
        New Link
  = form_tag links_path, method: 'get', class: 'search-query pull-right' do       #
    - if params[:approved].present?
      = hidden_field_tag :approved, params[:approved] != '' ? params[:approved] : false
    - if params[:per_page].present?
      = hidden_field_tag :per_page, params[:per_page] != '' ? params[:per_page] : false
    = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search link..'    #

.container-fluid
  .row
    .col-sm-3
      = render "facets/facet_sites"       , objs: @links
      = render "facets/facet_authors"     , objs: @links
      = render "facets/facet_languages"   , objs: @links
      = render "facets/facet_countries"   , objs: @links
      = render "facets/facet_timeline"    , objs: @links
    .col-sm-9
      - if @links.size > 0
        = form_tag approve_multiple_links_path do
          %table.table.table-striped
            %tbody
              - @links.each_with_hit do |link, hit|
                = render "cells/link", link: link, hit: hit
          - if current_user.approver?
            = submit_tag (show_approved?) ? 'Disapprove selected' : 'Approve selected', class: 'btn btn-default btn-sm pull-right'
        = will_paginate @links, renderer: BootstrapPagination::Rails
        %br
        = page_entries_info @links, entry_name: 'link'
      - else
        = render 'common/empty_table'
  %br
