- content_for :pageheader do
  = @link.title

- content_for :actions do
  - if search_params_available?
    = link_to :back, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back
  - else
    = link_to links_path, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back to List
  - if current_user.approver?
    = link_to  edit_link_path(@link), class: 'btn btn-default' do
      = fa_icon 'pencil'
      Edit
    = link_to  link_path(@link), method: :delete, class: 'btn btn-danger pull-right' do
      = fa_icon 'trash-o'
      Delete


.container

  = render 'templates/common_info', obj: @link

  %legend Link
  .row
    .col-md-3.control-label.text-right
      URL:
    .col-md-9{ style: "text-align:left"}
      %a{ href: @link.url }
        = @link.url
  .row
    .col-md-3.control-label.text-right
      Description:
    .col-md-9
      = raw @link.description



  = render 'templates/countries', object: @link
  = render 'templates/biographical_region', object: @link
  = render 'templates/targets_and_actions', object: @link
  = render 'templates/tags', object: @link
