- content_for :pageheader do
  = @link.title

- content_for :actions do
  = link_to links_path, class: "btn" do
    = fa_icon 'reply'
    Back
  - if current_user.approver?
    = link_to  edit_link_path(@link), class: "btn" do
      = fa_icon 'pencil'
      Edit
    = link_to  link_path(@link), method: :delete, class: "btn btn-danger pull-right" do
      = fa_icon 'trash'
      Delete


.container-fluid

  = render 'common/showinfo', obj: @link

  %legend Link
  .row-fluid
    .span3.control-label.text-right
      URL:
    .span9{ style: "text-align:left"}
      %a{ href: @link.url }
        = @link.url
  .row-fluid
    .span3.control-label.text-right
      Description:
    .span9
      = raw @link.description



  %legend Countries
  .row-fluid
    .span12.text-right
      - @link.countries.each do |c|
        %span.label.label-success= c.name

  %legend Biographical Region:
  .row-fluid
    .span12
      = @link.biographical_region

  %legend Tags
  .row-fluid
    .span12
      - @link.tag_list.each do |t|
        .label.label-success= t
