
= simple_form_for([:biseadmin, @keyword_container]) do |f|
  = f.error_notification

  .container-fluid
    .row-fluid
      .span8
        %legend{ style: 'margin-bottom: 0' }
          General information
        = f.input :title, input_html: { class: 'input-block-level' }

    %div{ style: 'height: 300px' }

  .form-actions
    = f.button :submit, class: 'btn-success'
    = link_to 'Cancel', biseadmin_keyword_containers_path, class: 'btn btn-default'
