%link{href: "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel: "stylesheet", type: "text/css"}/
.container-fluid
  %legend{ style: "font-family: 'Open Sans Condensed', sans-serif; font-weight: bold" }
    Welcome to BISE Catalogue!
  .row-fluid
    .span8
      %br
      .row-fluid
        .span3
          = link_to 'http://biodiversity.europa.eu' do
            = image_tag 'BISE-logo.png'
        .span9{ style: "font-size: 18px; font-family: 'Open Sans Condensed', sans-serif;" }
          %p
            This tool is the BISE Catalogue, a component of the Biodiversity
            Information System for Europe. This information system has the aim
            of sharing data and information that serves as the biodiversity
            knowledge base for the policy plans and activities in the European
            Union up to 2020.
          %p
            The Catalogue provides the following capabilities:
          %ul{ style: 'margin-bottom: 15px;font-size: 15px;' }
            %li
              Registration of sources (e.g. EUNIS linked data at EEA Semantic Data Service)
            %li
              Validation and publication workflow for sources.
            %li
              Documents storage.
            %li
              Indexation of resources.
            %li
              Searching.
            %li
              Visualization and sharing of resources.

    .span4
      .well
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { style: 'margin:0px' }) do |f|
          .form-inputs
            = f.input :login, :autofocus => true, input_html: { class: 'input-block-level' }
            = f.input :password, :required => false, input_html: { class: 'input-block-level' }
            / = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

          .form-actions{ style: 'padding: 20px 0' }
            = f.button :submit, "Sign in"

= render "devise/shared/links"
