<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @concept.title %>
</p>

<p>
  <b>Parent:</b>
  <%= @concept.parent %>
</p>

<p>
  <b>Definition:</b>
  <%= @concept.definition %>
</p>


<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
