- content_for :pageheader do
  Unprocessed Object

%dl.dl-horizontal
  %dt Model
  %dd= @unprocessed.model

  %dt Method
  %dd= @unprocessed.method

  %dt Failed field
  %dd= @unprocessed.field

  %dt Message
  %dd= @unprocessed.message

  %dt IP
  %dd= @unprocessed.ip

  %dt Created At
  %dd= @unprocessed.try(:strftime,'%Y/%m/%d')

  - @unprocessed.params.keys.sort.each do |key|
    %dt= "Param #{key}"
    %dd= @unprocessed.params[key]

= will_paginate @unprocessed, renderer: BootstrapPagination::Rails

