- content_for :pageheader do
  Unprocessed Object

%dl.dl-horizontal
  %dt Model
  %dd= @unprocessed.model

  %dt Method
  %dd= @unprocessed.http_method

  %dt Failed field
  %dd= @unprocessed.field

  %dt Message
  %dd= @unprocessed.message

  %dt IP
  %dd= @unprocessed.ip

  %dt Created At
  %dd= @unprocessed.try(:strftime,'%Y/%m/%d')

  %dt Params
  %dd= @unprocessed.params

