= simple_form_for @indicator, html: { multipart: true } do |f|

  .container-fluid

    = render partial: 'common/common_info', locals: { f: f }

    %legend Indicator

    .row
      .col-lg-12
        = f.input :url, placeholder: 'http://www.google.com' , input_html: { class: "input-block-level" }
        = f.input :description, as: :text, input_html: { class: 'input-block-level tinymce', rows: 5 }
        -# = f.input :is_part_of, placeholder: 'http://www.google.com' , input_html: { class: "input-block-level" }
        -# = f.input :is_replaced_by, placeholder: 'http://www.google.com' , input_html: { class: "input-block-level" }
        -# = f.input :has_part, as: :text, hint: "One URL per line", placeholder: 'http://www.google.com' , input_html: { class: "input-block-level" }
        -# = f.input :thumbnail_link, placeholder: 'http://www.google.com' , input_html: { class: "input-block-level" }

    .row
      %div.form-group{:style => "overflow:hidden"}
        .col-sm-8
          = f.input :thumb , as: :file , input_html: { style: 'display:none' }
          .input-group
            %input#thumb_title.form-control{ type: 'text', disabled: :disabled, class: 'form-control' }
            %span.input-group-btn
              %button#indicator_thumb_select.btn.btn-default{ type: 'button' }
                = fa_icon 'folder'
                Select
        .col-sm-4
          .file-info
            .text-error
              = @indicator.errors[:thumb].try(:first) if @indicator.errors.any?

    .row
      .col-lg-12
        %div.form-group
          = label_tag(:indicator_set, "Indicator sets", class: "string optional control-label")
          %div.indicator_sets_select
            = f.collection_check_boxes :indicator_set, available_indicator_sets, :first, :last, checked: @indicator_set

    = render partial: 'common/targets', locals: { parent: @indicator, f: f }
    = render partial: 'common/countries', locals: { parent: @indicator }

  .form-actions
    = f.submit 'Save', class: 'btn btn-success'
    = link_to 'Cancel', indicators_path, class: 'btn btn-default'
