- content_for :pageheader do
  = @indicator.title

- content_for :actions do
  - if search_params_available?
    = link_to :back, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back
  - else
    = link_to indicators_path, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back to List
  = link_to  edit_indicator_path(@indicator), class: "btn btn-default #{@indicator.disabled?(current_user)}" do
    = fa_icon 'pencil'
    Edit
  = link_to  indicator_path(@indicator), method: :delete, class: "btn btn-danger pull-right #{@indicator.disabled?(current_user)}" do
    = fa_icon 'trash-o'
    Delete

= render 'templates/common_info', obj: @indicator

%legend Details
.row
  .col-md-8
    %div
      %strong Indicator Set:
      = @indicator.indicator_set

    %div
      %strong Link:
      = link_to @indicator.url, @indicator.url

    %div
      %strong Description:
      .well
        = raw @indicator.description

  .col-md-4
    %strong Thumbnail:
    %br
    %img{ :src => @indicator.thumbnail, :style => "width:100%" }

  -# %div
  -#   %strong Is part of:
  -#   = @indicator.is_part_of
  -#
  -# %div
  -#   %strong Has parts:
  -#   = @indicator.has_part
  -#
  -# %div
  -#   %strong Is replaced by:
  -#   = @indicator.is_replaced_by
  -# %div
  -#   %strong Thumbnail:
  -#   = @indicator.thumbnail_link

= render 'templates/countries', object: @indicator
= render 'templates/biographical_region', object: @indicator
= render 'templates/targets_and_actions', object: @indicator
= render 'templates/tags', object: @indicator
