- content_for :pageheader do
  = @indicator.title

- content_for :actions do
  - if search_params_available?
    = link_to :back, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back
  - else
    = link_to indicators_path, class: 'btn btn-default' do
      = fa_icon 'reply'
      Back to List
  = link_to  edit_indicator_path(@indicator), class: "btn btn-default #{@indicator.disabled?(current_user)}" do
    = fa_icon 'pencil'
    Edit
  = link_to  indicator_path(@indicator), method: :delete, class: "btn btn-danger pull-right #{@indicator.disabled?(current_user)}" do
    = fa_icon 'trash-o'
    Delete



= render 'templates/common_info', obj: @indicator

%legend Link
.well
  = link_to @indicator.url, @indicator.url
  %br
  = raw @indicator.description

= render 'templates/countries', object: @indicator
= render 'templates/biographical_region', object: @indicator
= render 'templates/targets_and_actions', object: @indicator
= render 'templates/tags', object: @indicator
