%tr
  %td{ style: 'width: 10px;vertical-align:middle' }
    = check_box_tag "article_ids[]", article.id if current_user.approver?
  %td.article_cell
    .cell-title
      = link_to article.title, article

    %small
      = "by #{article.author} "
      = "at #{article.published_on.strftime('%d/%m/%Y')}"
    - if article.approved?
      %span.label.label-success.pull-right
        Approved
    - else
      %span.label.label-danger.pull-right
        Unapproved
    %br
    - if hit.has_key?'highlight' and hit['highlight'].has_key? 'content_without_tags'
      - att_hits = hit['highlight']['content_without_tags']
      .hits
        %ol{ type: "I" }
          - att_hits.each do |h|
            %li
              %p.hit= raw '...' + h + '...'

