<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Origin url:</b>
  <%= @site.origin_url %>
</p>

<p>
  <b>Description:</b>
  <%= @site.description %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
