
- if accessible_libraries.empty?
  .alert.alert-danger
    %strong ATTENTION:
    You are not allowed to contribute in any library (source), please contact your administrator.

- if current_user.role_admin? && current_user != f.object.try(:creator) 
  .alert.alert-warning
    %strong Attention Administrator!
    %br
    = "This content has been created by #{f.object.try(:creator).name} in #{f.object.site.try(:name)}. If you change the site it belongs to, the user won't be able to edit it."

.row
  .col-sm-8
    %legend Info
    = f.input :title, placeholder: 'Write a title...' , input_html: { class: "input-block-level", required: true }
    = f.input :english_title, placeholder: 'Write an English title', input_html: { class: "input-block-level", required: true }
    - langs = Language.all
    = f.input :language_ids, as: :select, collection: langs, input_html: { class: 'bise-select', multiple: true, 'data-placeholder' => 'Search language...' }
  .col-sm-4
    %legend Publication
    = f.association :site , as: :collection_select, collection: accessible_libraries , input_html: { class: "input-block-level bise-select" }, include_blank: true
    = f.input :published_on, as: :string, input_html: { class: 'input-block-level' }, required: true, autocomplete: 'off'
    = f.input :author, as: :string, placeholder: 'John Doe', hint: 'Separate multiple authors with ; or and.', input_html: { class: "input-block-level", required: true }

