%legend Info

.row
  .col-sm-2.control-label.text-right
    Title:
  .col-sm-4
    = obj.title
  .col-sm-2.control-label.text-right
    Site:
  .col-sm-4
    = obj.site.name
.row
  .col-sm-2.control-label.text-right
    English title:
  .col-sm-4
    = obj.english_title
  .col-sm-2.control-label.text-right
    Published on:
  .col-sm-4
    = obj.published_on
.row
  .col-sm-2.control-label.text-right
    Languages:
  .col-sm-4
    - for a in obj.languages
      %span.label.label-success= a.name
  .col-sm-2.control-label.text-right
    Author:
  .span4
    = obj.author