%div.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container{ 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse' }
      = link_to root_path, :class => "brand" do
        = fa_icon "archive"
        Catalogue
      %div.container.nav-collapse
        %ul.nav
          %li{ class: "#{ current_page?(articles_path) ? 'active' : '' }"}
            = link_to "Articles", articles_path
          %li{ class: "#{ current_page?(documents_path) ? 'active' : '' }"}
            = link_to "Documents", documents_path
          %li{ class: "#{ current_page?(links_path) ? 'active' : '' }"}
            = link_to "Links", links_path
          / %li{ class: "#{ current_page?(news_index_path) ? 'active' : '' }"}
          /     = link_to "News", news_index_path
          %li{ class: "#{ current_page?(protected_areas_path) ? 'active' : '' }"}
            = link_to "Sites", protected_areas_path
          %li{ class: "#{ current_page?(habitats_path) ? 'active' : '' }"}
            = link_to "Habitats", habitats_path
          %li{ class: "#{ current_page?(species_index_path) ? 'active' : '' }"}
            = link_to "Species", species_index_path
        %ul.nav.pull-right
          %li.dropdown
            %a{ href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
              %i.icon-user
              = current_user.get_ldap_displayname
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to destroy_user_session_path, :method => :delete do
                  %i.icon-off
                    Close session