
= simple_form_for([:admin, @site]) do |f|
  = f.error_notification

  .container-fluid
    .row-fluid
      .span8
        %legend{ style: 'margin-bottom: 0' }
          General information
        = f.input :name, input_html: { class: 'input-block-level' }
        = f.input :origin_url, input_html: { class: 'input-block-level' }
        = f.input :description, as: 'text', input_html: { class: 'input-block-level', rows: 5 }
      .span4
        %legend{ style: 'margin-bottom: 0' }
          API Access
        = f.input :auth_token, input_html: { class: 'input-block-level' }
        .alert.alert-warning
          Auth token is a required parameter for 3rd party sites to be able to
          synchronize data with BISE Catalogue.

  .form-actions
    = f.button :submit, class: 'btn-success'
    = link_to 'Cancel', admin_sites_path, class: 'btn btn-default'
